@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*Navigation Menu CSS*/
.nav-menu {
    visibility: visible;
    display: block;
    right: 0;
    position: fixed;
    width: 40%;
    height: 100%;
    background: rgb(66, 66, 66);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    z-index: 70;
    color: white;
}
.nav-toggle {

}
/*Nav-social*/
.nav-social {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}
.nav-social_profile {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    flex: 1;
}
.nav-social_profilePhoto {
    width: 50%;
    height: 100%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 2;
}
.profileImage {
    width: 100%;
    height: 100%;
}
.profilePhoto {
    width: 75%;
    height: 100%;
    border-radius: 40%;
}
.nav-social_profileInfo {
    width: 50%;
    overflow: hidden;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-social_links {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    padding: 1%;
    align-items: center;
}
/*Nav-Route*/
.nav-route {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
}
.flex-column {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.nav-item {
    font-size: 60px;
    border: white 2px solid;
    padding: 0;
    width: 100%;
}
.route-link {
    justify-content: center;
}
/*Nav-Project*/
.nav-project {
    width: 100%;
    height: 50%;
}
.nav-project_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-project_item {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.project_display {
    width: 25vh;
    margin: 5% 0 0 5%;
}
.project_image {
    height: 100%;
    width: 100%;
}
.project_info {
    right: -40%;
    top: -40%;
    position: relative;
    font-size: 135%;
    font-family: monospace;
    font-weight: 500;
    display: block;
}
    .project_info collapse {
        visibility: collapse;
    }