@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#app{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.navigation {
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;
}
.navigation-collapse {
    width: 5vw;
    height: 100vh;
    position: sticky;
    top: 0;
}
.main {
    flex: 1;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    /*TODO : Assign repeated values in html,body and set var() to values*/
    --navigation-menu-width: 30vw;
    --navigation-menu-collapse-width: 5vw;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/*Responsive MainLayout.razor CSS*/


/*Navigation Menu CSS*/
.nav-menu {
    visibility: visible;
    display: block;
    right: 0;
    top: 0;
    position: fixed;
    width: 30vw;
    height: 100vh;
    background: rgb(66, 66, 66);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    z-index: 70;
    color: white;
}
    .nav-menu-collapse {
        display: block;
        right: 0;
        position: fixed;
        width: 2.6vw;
        height: 4vh;
        background: rgb(66, 66, 66);
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        z-index: 70;
        color: white;

    }
.nav-menu_container {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: 0.1s fade-in ease-out;
}
    .nav-menu_container-collapse {
        display: none;
        width: auto;
        height: auto;
        opacity: 0;
        transition: 0.1s opacity ease-out;
    }
.nav-toggle {
    color: #DEF2F1;
    position: absolute;
    top: 0;
    width: 2em;
    height: 2em;
    background-image: url("/images/Svg/close-small-alt.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    display: block;
    z-index: 71;
    background-position: 0.4em 0.4em;
    animation: 0.1s fade-in ease-out;
    transition: 0.1s opacity ease-out;
}
    .nav-toggle-collapse {
        color: #DEF2F1;
        position: absolute;
        top: 0;
        width: 2em;
        height: 2em;
        background-image: url("/images/Svg/open-small.svg");
        background-repeat: no-repeat;
        background-size: 32px 32px;
        cursor: pointer;
        display: block;
        z-index: 71;
        background-position: 0.4em 0.4em;
        animation: 0.1s fade-in ease-out;
        transition: 0.1s opacity ease-out;
    }
.nav-toggle_item {
    width: 100%;
    height: 100%;
    background: transparent;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*Nav-social*/
.nav-social {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}
.nav-social_profile {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    flex: 1;
}
.nav-social_profilePhoto {
    width: 50%;
    height: 100%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 2;
}
.profileImage {
    width: 100%;
    height: 100%;
}
.profilePhoto {
    width: 75%;
    height: 100%;
    border-radius: 40%;
}
.nav-social_profileInfo {
    width: 50%;
    overflow: hidden;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-social_profileEmail {
    font-size: 24px;
}
.nav-social_links {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    padding: 1%;
    align-items: center;
}
/*Nav-Route*/
.nav-route {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
}
.flex-column {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.nav-item {
    font-size: 60px;
    border: white 2px solid;
    padding: 0;
    width: 100%;
}
.route-link {
    justify-content: center;
}
/*Nav-Project*/
.nav-project {
    width: 100%;
    height: 50%;
}
.nav-project_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 1vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-project_item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 8.3vh;
}
.project_display {
    width: 50%;
    height: 8vh;
    margin: 0;
    float: left;
}
.project_image {
    height: 100%;
    width: 100%;
}
.project_info {
    width: 75%;
    right: 0%;
    top: 10%;
    position: absolute;
    font-family: monospace;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    animation: 0.1s fade-in ease-out;
    transition: 0.1s opacity, 0.1s visibility ease-out;
}
.nav-project_item:hover .nav-project_item:active {
    border: 1px white dashed;
}
.nav-project_item:hover .project_info {
    visibility: visible;
    opacity: 1;
}