:root {
    --col-height: 225px;
    --col-md4-height: 250px;
    --wid-height: 300px;
}

body {
    margin: 0;
    font-family: monospace;
    color: white;
    background: #202731;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

section.navigation,
section.bubble,
section.red {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    justify-content: center;
}

section.red {
    padding: 100px 5vw 25px;
}

section.navigation {
    padding: 0;
    min-height: 100px;
}

.container {
    z-index: 3;
    position: fixed;
    background: transparent;
    transition: background-color .4s ease;
}

.on-scroll {
    background-color: #202731;
}

a.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

    a.nav-link:active,
    a.nav-link:hover {
        color: green;
        border: 1px solid green;
        transition: all .3s ease-in-out;
    }

    a.nav-link::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 5px;
        width: 100%;
        background: green;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    a.nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

.soft {
    background-image: url(/images/Svg/polygonScatterPattern.svg);
}

.red {
    background: #202731;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 105%;
    width: 100%;
    background-color: #DDAC26;
    z-index: -1;
}

.waveDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

    .waveDown svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
        transform: rotateY(180deg);
    }

    .waveDown .shape-fill {
        fill: #DDAC26;
    }

.ContactContent {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.contact-email,
.contact-linkedIn,
.contact-github {
    margin: 10px;
    height: 100%;
    width: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform .2s ease;
}

    .contact-email:hover,
    .contact-linkedIn:hover,
    .contact-github:hover {
        transform: scale(1.05);
    }

h5 {
    font-size: 22px;
    font-weight: 600;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

    .wave svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .wave .shape-fill {
        fill: #DDAC26;
    }

.projects {
    list-style: none;
}

.section-about-title {
    position: absolute;
    top: 10%;
    font-size: 28px;
    font-weight: 600;
}

.section-about-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-picture {
    margin-right: 5%;
}

svg.visual {
    position: absolute;
    left: 10%;
    z-index: 1;
}

.about-content {
    z-index: 2;
}

svg.blobMotion {
    position: absolute;
    z-index: 1;
    transform: translate(5%);
}

.section-contact-title {
    position: absolute;
    top: 20%;
    font-size: 28px;
    font-weight: 600;
}

.section-projects-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
}

/*Projects CSS + root selection*/
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    font-family: 'Quicksand', sans-serif;
}

    .bd-example::after {
        display: block;
        clear: both;
        content: "";
    }

.card {
    margin: 10px;
    border: 0;
    transition: transform .2s, filter 1.5s ease;
    background: transparent;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-body {
    padding: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

div.col-md-5 .card-body {
    height: var(--col-height);
}

div.col-md-4 .card-body {
    height: var(--col-md4-height);
}

div.col-md-4 .card-body-large {
    height: var(--wid-height);
}

div.col-md-3 .card-body {
    height: var(--wid-height);
}

.card-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.card-text {
    padding-left: 2%;
}
