@page "/"

<article id="home" class="panel intro">
    <header>
        <h1>Alistair Devine</h1>
        <p>Senior Dotnet Developer</p>
    </header>
    <a href="/fetchdata" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
        <img src="images/me.jpg" alt="Photo of myself" />
    </a>
</article>
