@page "/"
<!--TODO : Place within its own component class-->
<div class="nav-toggle">
    <a><i class="oi oi-circle-x"></i></a>
</div>

<article id="home" class="panel intro">
    <a href="/fetchdata" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span style="position: relative; left: -40%; top: -40%">See my work</span></span>
        <img src="images/me.jpg" alt="Photo of myself" />
    </a>
</article>
