@page "/"

    <section class="bubble">
        <div class="section-about-title">
            About
        </div>
        <div class="section-about-body">
            <div class="about-picture">
                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff2%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff2%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     data-holder-rendered="true"
                     style="height: 200px; width: 150px; display: block; border-radius: 50%;">
            </div>
            <div class="about-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus sunt libero corporis harum veritatis?
                Fugit
                nemo possimus earum nobis, delectus aliquam impedit ipsam qui! A error aperiam corporis incidunt eum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus sunt libero corporis harum veritatis?
            </div>
            <svg class="blobMotion" id="visual" viewBox="0 0 600 900" width="900" height="350"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <g transform="translate(328.0856390041331 408.01934464336887)">
                    <path id="blobOne"
                          d="M104.9 -99.2C139 -70.7 172 -35.4 173.8 1.8C175.6 38.9 146.1 77.8 111.9 127.8C77.8 177.8 38.9 238.9 -3.4 242.3C-45.7 245.7 -91.5 191.5 -137.1 141.5C-182.8 91.5 -228.4 45.7 -230 -1.6C-231.7 -49 -189.4 -98.1 -143.7 -126.6C-98.1 -155.1 -49 -163 -6.8 -156.2C35.4 -149.4 70.7 -127.7 104.9 -99.2"
                          fill="#a16100"></path>
                </g>
                <g transform="translate(291.55891118361194 453.3787856775871)" style="visibility: hidden;">
                    <path id="blobTwo"
                          d="M135.8 -113.6C185.8 -85.8 242.9 -42.9 252.6 9.7C262.2 62.2 224.5 124.5 174.5 149.5C124.5 174.5 62.2 162.2 0.9 161.3C-60.3 160.3 -120.7 170.7 -164.7 145.7C-208.7 120.7 -236.3 60.3 -237.2 -0.8C-238 -62 -212 -124 -168 -151.8C-124 -179.6 -62 -173.3 -9.5 -163.8C42.9 -154.2 85.8 -141.5 135.8 -113.6"
                          fill="#a16100"></path>
                </g>
            </svg>
        </div>
    </section>
    <section class="soft">
        <div class="section-projects-title">
            Projects
        </div>
        <div class="projects">
            <div class="bd-example">
                <div class="card-columns">
                    <div class="card-top">
                        <div class="card col-md-3">
                            <blockquote class="blockquote card-title">
                                <p class="card-text"> - Card title that wraps to a new line</p>
                            </blockquote>
                            <div class="card-body">
                                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff2%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff2%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
                            </div>
                        </div>
                        <div class="card col-md-5">
                            <blockquote class="blockquote card-title">
                                <p class="card-text"> - Lorem ipsum dolor sit amet.</p>
                            </blockquote>
                            <div class="card-body">
                                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff4%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <blockquote class="blockquote card-title">
                                <p class="card-text"> - Last updated 3 mins ago</p>
                            </blockquote>
                            <div class="card-body">
                                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff4%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="card col-md-4">
                            <div class="card-body-large">
                                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff4%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
                            </div>
                            <blockquote class="blockquote mb-0 card-title">
                                <p class="card-text"> - Lorem ipsum dolor sit amet.</p>
                            </blockquote>
                        </div>
                        <div class="card col-md-4">
                            <div class="card-body">
                                <img class="card-img" data-src="holder.js/100px260/" alt="100%x260"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22260%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20260%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff6%22%3E%3Crect%20width%3D%22164%22%20height%3D%22260%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2248.75%22%20y%3D%22135.7%22%3E164x260%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">
                            </div>
                            <blockquote class="blockquote card-title">
                                <p class="card-text"> - This card has supporting text.</p>
                            </blockquote>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-body">
                                <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22164%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20164%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c6513eff4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c6513eff4%22%3E%3Crect%20width%3D%22164%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.421875%22%20y%3D%2284.5%22%3E164x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
                            </div>
                            <blockquote class="blockquote mb-0 card-title">
                                <p class="card-text"> - Integer posuere erat a ante.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="red">
        <div class="section-contact-title">
            Contact
        </div>
        <footer class="ContactContent">
            <div class="contact-email">
                <div class="email-title">
                    <h5>Email</h5>
                    <p>alistair.devine98@gmail.com</p>
                </div>
                <div class="email-img">
                    <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                         src="/ProjectStructure/icons/Favorites/icons8-comments-100.png" data-holder-rendered="true"
                         style="height: 100px; width: 100px; display: block;">
                </div>
            </div>
            <div class="contact-linkedIn">
                <div class="linkedIn-title">
                    <h5>Linked In</h5>
                    <p>Alistair Devine</p>
                </div>
                <div class="linkedIn-img">
                    <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                         src="/ProjectStructure/icons/Favorites/icons8-linkedin-circled-100.png"
                         data-holder-rendered="true" style="height: 100px; width: 100px; display: block;">
                </div>
            </div>
            <div class="contact-github">
                <div class="github-title">
                    <h5>Github</h5>
                    <p>alistair.devine</p>
                </div>
                <div class="github-img">
                    <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                         src="/ProjectStructure/icons/Favorites/icons8-github-100.png" data-holder-rendered="true"
                         style="height: 100px; width: 100px; display: block;">
                </div>
            </div>
        </footer>
        <div class="waveDown">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                 preserveAspectRatio="none">
                <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
