@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="loadingText">
        <h1><BlazorTypewriter.Typewriter Builder="@typewriter" /></h1>
    </div>
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar loader__bar--delay-1"></div>
        <div class="loader__bar loader__bar--delay-2"></div>
        <div class="loader__bar loader__bar--delay-3"></div>
        <div class="loader__bar loader__bar--delay-4"></div>
        <div class="loader__bar loader__bar--delay-5"></div>
        <div></div>
    </div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100000);
        isLoaded = true;
    }

    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
        .TypeString("Alistair Devine, Portfolio loading", 50)
        .Pause(2000)
        .DeleteAll()
        .TypeString("DotNet Developer, Portfolio loading", 50)
        .Pause(2000)
        .DeleteAll(30)
        .TypeString("View projects and contact information, Portfolio loading", 50)
        .Pause(2000)
        .DeleteAll(20)
        .Pause(500)
        .Loop();

    //TESTING : Can be removed
    Project[] project = new Project[1];
    public void SettingData()
    {
        byte[] arr = new byte[10];
        Span<byte> bytes = arr;
        Span<byte> slice = bytes.Slice(4, 3);

        Span<Project> bits = project;
        ReadOnlySpan<Project> projects = project;
        //ReadOnlySpan<Project> sliceProject = projects.Slice(5, 3);
        foreach (var item in project)
        {
            Console.WriteLine(item.Full_Name);
        }
    }
}
