@inherits LayoutComponentBase

<div class="page">
    <div class="@NavigationCssClass">
        <NavMenu collapseNavigationMenu="@UpdateNavigationMenu" />
    </div>

    <div class="main">
        @Body
    </div>
</div>
 @code {
     
     public bool collapseNavMenu = true;
     private string baseNavigationCss = "navigation";
     private string NavigationCssClass => baseNavigationCss + (collapseNavMenu ? null : "-collapse");
     private void UpdateNavigationMenu(bool value)
     {
         collapseNavMenu = value;
     }
 }