<section class="navigation" style="width: 100vw;">
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
             preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                  class="shape-fill"></path>
        </svg>
    </div>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/resume" class="nav-link">Resume</a></li>
                <li class="nav-item"><a href="/opensource" class="nav-link">Open Source</a></li>
                <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                <li class="on-scroll">
                    <a>
                        <img class="card-img-top" alt="50x50"
                             src="/ProjectStructure/icons/Favorites/icons8-twitter-100.png"
                             style="height:50px; width:50px;">
                    </a>
                </li>
            </ul>
        </header>
    </div>
</section>

@code {
    [Parameter]
    public EventCallback<bool> collapseNavigationMenu { get; set; }

    //BUG : When eventcallback is called back into NavMenu.razor the projectCollection resets its values
    [CascadingParameter]
    IEnumerable<Project> projectCollection { get; set; }

    IEnumerable<Project> navigationCollection { get; set; }

    private bool collapseNavMenu = true;
    private bool expandProjectInfo = false;

    private string baseNavMenuCss = "nav-menu";
    private string baseNavMenuContainerCss = "nav-menu_container";

    private string NavMenuContainerCssClass => baseNavMenuContainerCss + (collapseNavMenu ? null : "-collapse");
    private string NavMenuCssClass => baseNavMenuCss + (collapseNavMenu ? null : "-collapse");

    private async Task UpdateNavigationMenu()
    {
        await collapseNavigationMenu.InvokeAsync(collapseNavMenu);
    }

    public async void toggleShow()
    {
        collapseNavMenu = !collapseNavMenu;
        await UpdateNavigationMenu();
        Console.WriteLine("Navigation menu toggle");
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {
        navigationCollection = DataPipeline();
        foreach (var item in projectCollection)
        {
            Console.WriteLine("PROJECT COLLECTION: " + item.Full_Name.Remove(0, 15));
        }
        return base.OnInitializedAsync();
    }

    public IEnumerable<Project> DataPipeline()
    {
        var topSixProjects = projectCollection.OrderBy(p => p.Updated_At).Take(6);
        return topSixProjects;
    }
}
